<div>
  <a href="{{log_in_route}}">Fazer login</a>
  <a href="{{sign_up_route}}">Criar conta</a>
</div>

<div>
  <a href="{{play_route}}">Jogar!</a>
</div>

<center>
  ranking dos jogadores que mais pontuaram
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Nome</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody>
      {{#each ranking}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{{@key}}}</td>
        <td>{{{this}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</center>

<style>
body {
  background-color: #f7f7f7;
}
</style>
